In [18]:
import pandas as pd
import numpy as np

series = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
print(series)
print(series.shape)
print(series.size)
print(series.index)
print(series.values)

a    1
b    2
c    3
d    4
e    5
dtype: int64
(5,)
5
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
[1 2 3 4 5]

In [19]:
series['a']

1

In [20]:
series[['a', 'c', 'e']]

a    1
c    3
e    5
dtype: int64

In [21]:
series.iloc[0] # explicit index as integer is used

1

In [22]:
series['a'] = 100

In [23]:
dropped = series.drop('a')
print(dropped)
print(series)
series.drop('a', inplace=True)
print(series)

b    2
c    3
d    4
e    5
dtype: int64
a    100
b      2
c      3
d      4
e      5
dtype: int64
b    2
c    3
d    4
e    5
dtype: int64

## arithmetic operations

In [24]:
fruits = pd.Series([10, 5, 8, 12], index=['Apple', 'Banana', 'Orange', 'Mango'])
more_fruits = fruits + 2
print(fruits)
print(more_fruits)
even_more_fruits = np.power(fruits, 2)
print(even_more_fruits)

Apple     10
Banana     5
Orange     8
Mango     12
dtype: int64
Apple     12
Banana     7
Orange    10
Mango     14
dtype: int64
Apple     100
Banana     25
Orange     64
Mango     144
dtype: int64

## Manipulate a series

In [25]:
import pandas as pd

# DO NOT CHANGE THE VARIABLE NAMES

# Given a list representing a few planets
planets = ['Earth', 'Saturn', 'Venus', 'Mars', 'Jupiter']

# Given another list representing the distance of each of these planets from the Sun
# The distance from the Sun is in units of 10^6 km
distance_from_sun = [149.6, 1433.5, 108.2, 227.9, 778.6]

# TO DO: Create a Pandas Series "dist_planets" using the lists above, representing the distance of the planet from the Sun.
# Use the `distance_from_sun` as your data, and `planets` as your index.
dist_planets = pd.Series(data=distance_from_sun, index=planets)

# TO DO: Calculate the time (minutes) it takes light from the Sun to reach each planet. 
# You can do this by dividing each planet's distance from the Sun by the speed of light.
# Use the speed of light, c = 18, since light travels 18 x 10^6 km/minute.
time_light = dist_planets / 18

# TO DO: Use Boolean indexing to select only those planets for which sunlight takes less
# than 40 minutes to reach them.
close_planets = time_light[time_light < 40]

print(dist_planets)
print(time_light)
print(close_planets)

Earth       149.6
Saturn     1433.5
Venus       108.2
Mars        227.9
Jupiter     778.6
dtype: float64
Earth       8.311111
Saturn     79.638889
Venus       6.011111
Mars       12.661111
Jupiter    43.255556
dtype: float64
Earth     8.311111
Venus     6.011111
Mars     12.661111
dtype: float64